body {
    background-color:rgb(187, 152, 108);
    font-size: 1.5rem;
}

.titre {
    text-align: center;
    font-size: 2rem;
}

.conteneur {
    align-items: center;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.introduction {
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.hobby {
    display: grid;
}
  
.imghobbies {
    margin-top: 2.5rem;
}

img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    align-self: center;

}  

.education {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.h3-edu {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 3rem;
    padding: 3rem;
}

@media(max-width: 700px) {
    .conteneur {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media(max-width: 1200px) {
    .conteneur {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
